In [1]:
import pandas
import sklearn.cluster
import matplotlib.pyplot
import sklearn.datasets

In [5]:
phonecase = pandas.read_csv('../../SYD_DAT_5/data/phonecase.csv')
phonecase

    Age  Income  Colour
0    12       0     Red
1    14      10     Red
2    15       0     Red
3    17     500  Yellow
4    18   10000     Red
5    19   30000  Yellow
6    21       0  Yellow
7    21   20000  Yellow
8    23   30000  Yellow
9    25   40000    Pink
10   27  100000     Red
11   30   80000    Pink
12   40  150000     Red
13   41   60000    Pink
14   60  100000    Pink
15   62   40000  Yellow
16   63   60000    Pink
17   65   30000    Pink

In [6]:
import sklearn.tree

In [7]:
classifier = sklearn.tree.DecisionTreeClassifier(criterion='gini')

In [8]:
classifier

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [9]:
import sklearn.cross_validation

In [11]:
x = phonecase[['Income', 'Age']]
y = phonecase[['Colour']]

In [15]:
split_stuff = sklearn.cross_validation.train_test_split(x,y)

In [16]:
split_stuff

[    Income  Age
 12  150000   40
 10  100000   27
 6        0   21
 16   60000   63
 4    10000   18
 13   60000   41
 1       10   14
 17   30000   65
 3      500   17
 0        0   12
 5    30000   19
 7    20000   21
 14  100000   60,     Income  Age
 9    40000   25
 15   40000   62
 2        0   15
 11   80000   30
 8    30000   23,     Colour
 12     Red
 10     Red
 6   Yellow
 16    Pink
 4      Red
 13    Pink
 1      Red
 17    Pink
 3   Yellow
 0      Red
 5   Yellow
 7   Yellow
 14    Pink,     Colour
 9     Pink
 15  Yellow
 2      Red
 11    Pink
 8   Yellow]

In [17]:
#training data
split_stuff[0]

    Income  Age
12  150000   40
10  100000   27
6        0   21
16   60000   63
4    10000   18
13   60000   41
1       10   14
17   30000   65
3      500   17
0        0   12
5    30000   19
7    20000   21
14  100000   60

In [18]:
#test data
split_stuff[1]

    Income  Age
9    40000   25
15   40000   62
2        0   15
11   80000   30
8    30000   23

In [19]:
#colour information training
split_stuff[2]

    Colour
12     Red
10     Red
6   Yellow
16    Pink
4      Red
13    Pink
1      Red
17    Pink
3   Yellow
0      Red
5   Yellow
7   Yellow
14    Pink

In [23]:
#predict test
split_stuff[3]

    Colour
9     Pink
15  Yellow
2      Red
11    Pink
8   Yellow

In [24]:
(x_train, x_test, y_train, y_test) = split_stuff

In [25]:
x_train

    Income  Age
12  150000   40
10  100000   27
6        0   21
16   60000   63
4    10000   18
13   60000   41
1       10   14
17   30000   65
3      500   17
0        0   12
5    30000   19
7    20000   21
14  100000   60

In [26]:
classifier.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [32]:
import StringIO
s = StringIO()
sklearn.tree.export_graphviz(classifier)
import pydot
pydot.graph_from_dot_data(s.getvalue())
import IPython.display
Ipython.display.Image(graph.create.png())

TypeError: 'module' object is not callable

import sklearn.metrics

In [30]:
y_predictions = classifier.predict(x_test)

In [31]:
sklearn.metrics.accuracy_score(y_test, y_predictions)

0.40000000000000002

In [33]:
import sklearn.dummy

In [45]:
dummy_classifier = sklearn.dummy.DummyClassifier(strategy = 'constant', constant = 'Yellow')

In [46]:
dummy_classifier.fit(x_train, y_train)

DummyClassifier(constant='Yellow', random_state=None, strategy='constant')

In [50]:
dummy_predictions = dummy_classifier.predict(x_test)

In [47]:
dummy_classifier.predict(x_test)

array([['Yellow'],
       ['Yellow'],
       ['Yellow'],
       ['Yellow'],
       ['Yellow']],
      dtype='|S6')

In [51]:
sklearn.metrics.accuracy_score(y_test, dummy_predictions)

0.40000000000000002

In [52]:
phonecase

    Age  Income  Colour
0    12       0     Red
1    14      10     Red
2    15       0     Red
3    17     500  Yellow
4    18   10000     Red
5    19   30000  Yellow
6    21       0  Yellow
7    21   20000  Yellow
8    23   30000  Yellow
9    25   40000    Pink
10   27  100000     Red
11   30   80000    Pink
12   40  150000     Red
13   41   60000    Pink
14   60  100000    Pink
15   62   40000  Yellow
16   63   60000    Pink
17   65   30000    Pink

In [53]:
train = phonecase.drop((16,15,14))

In [57]:

test_data = phonecase[phonecse.index == 16]

In [56]:
Aclass = sklearn.tree.DecisionTreeClassifier(criterion='gini')

In [61]:
X_train = train[['Age','Income']]
y_train = test_data[['Colour']]

KeyError: "None of [['Colour']] are in the [index]"

In [67]:
y = phonecase.Colour
sklearn.cross_validation.cross_val_score(classifier, x,y, cv=6, scoring = 'accuracy')

array([ 0.33333333,  0.33333333,  1.        ,  0.33333333,  0.33333333,
        0.33333333])

In [68]:
import sklearn.grid_search

In [70]:
params = {'max_depth': range(1,20),
         'criterion': ['gini', 'entropy'],
         'max_features': [1,2],
         }

In [72]:
Fresh_Classifier = sklearn.tree.DecisionTreeClassifier()
Brute_Force = sklearn.grid_search.GridSearchCV(Fresh_Classifier, params, cv=6)

In [74]:
Brute_Force.fit(x, y)

GridSearchCV(cv=6, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_features': [1, 2], 'criterion': ['gini', 'entropy'], 'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [75]:
Brute_Force.best_params_

{'criterion': 'gini', 'max_depth': 9, 'max_features': 1}

In [76]:
Brute_Force.best_score_

0.66666666666666663