In [1]:
import pandas
import sklearn.cluster
import matplotlib.pyplot
import sklearn.datasets

In [3]:
phonecase = pandas.read_csv('../../SYD_DAT_5/data/phonecase.csv')
phonecase

    Age  Income  Colour
0    12       0     Red
1    14      10     Red
2    15       0     Red
3    17     500  Yellow
4    18   10000     Red
5    19   30000  Yellow
6    21       0  Yellow
7    21   20000  Yellow
8    23   30000  Yellow
9    25   40000    Pink
10   27  100000     Red
11   30   80000    Pink
12   40  150000     Red
13   41   60000    Pink
14   60  100000    Pink
15   62   40000  Yellow
16   63   60000    Pink
17   65   30000    Pink

In [4]:
set(phonecase.Colour)

{'Pink', 'Red', 'Yellow'}

In [5]:
import numpy
for colour in set(phonecase.Colour):
    phonecase[colour] = numpy.where(phonecase.Colour == colour, 1,0)

In [6]:
phonecase

    Age  Income  Colour  Pink  Yellow  Red
0    12       0     Red     0       0    1
1    14      10     Red     0       0    1
2    15       0     Red     0       0    1
3    17     500  Yellow     0       1    0
4    18   10000     Red     0       0    1
5    19   30000  Yellow     0       1    0
6    21       0  Yellow     0       1    0
7    21   20000  Yellow     0       1    0
8    23   30000  Yellow     0       1    0
9    25   40000    Pink     1       0    0
10   27  100000     Red     0       0    1
11   30   80000    Pink     1       0    0
12   40  150000     Red     0       0    1
13   41   60000    Pink     1       0    0
14   60  100000    Pink     1       0    0
15   62   40000  Yellow     0       1    0
16   63   60000    Pink     1       0    0
17   65   30000    Pink     1       0    0

In [7]:
X = phonecase[['Red','Pink', 'Yellow', 'Age']]
y = phonecase.Income

In [8]:
import sklearn.tree

In [9]:
regressor = sklearn.tree.DecisionTreeRegressor(max_depth = 2)

In [10]:
regressor.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=2, max_features=None,
           max_leaf_nodes=None, min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [12]:
zip(regressor.predict(X), y)

[(7563.75, 0),
 (7563.75, 10),
 (7563.75, 0),
 (7563.75, 500),
 (7563.75, 10000),
 (7563.75, 30000),
 (7563.75, 0),
 (7563.75, 20000),
 (35000.0, 30000),
 (35000.0, 40000),
 (125000.0, 100000),
 (61666.666666666664, 80000),
 (125000.0, 150000),
 (61666.666666666664, 60000),
 (61666.666666666664, 100000),
 (61666.666666666664, 40000),
 (61666.666666666664, 60000),
 (61666.666666666664, 30000)]

In [13]:
import StrinIO
s = StringIO()
sklearn.tree.export_graphviz(regressor,
                            out_file=s,
                             feature_names= ['Red','Pink', 'Yellow', 'Age'])
import pydot
graph = pydot.graph_from_dot_data(s.getvalue())
import Ipython.display
Ipython.display.

SyntaxError: invalid syntax (<ipython-input-13-a8de7eb4ca0c>, line 9)

In [15]:
import sklearn.grid_search
brute_force = sklearn.grid_search.GridSearchCV(dtr,
                                               ('max_depth': range(1,10)),
                                              cv = 6
                                              scoring='mean_squared_error')

SyntaxError: invalid syntax (<ipython-input-15-5c90fa5a99f7>, line 3)